{{ titulo }}

<h3>{{ prueba }}</h3>  <br><br>


<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
        <th scope="col">E-MAIL</th>
        <th scope="col">NOTA</th>
        <th scope="col">EDITAR</th>
      </tr>
    </thead>
    <tbody>
      <!-- declaramos una variable y llamamos la variable estudiantes creada anteriormente  -->
      <tr *ngFor="let estudiante of estudiantes">
        <th scope="row">{{ estudiante.id }}</th>
        <td>{{ estudiante.nombre }}</td>
        <td>{{ estudiante.apellido }}</td>
        <td>{{ estudiante.email }}</td>
        <td>{{ estudiante.nota }}</td>                      <!-- para hacer llamda a la routa hay que poner la / en inicio para que puede hacer la llamada -->
        <td>  <button class="btn btn-warning" type="button" [routerLink]="['/estudiantes/from', estudiante.id]">Editar</button></td>
       
      </tr>
 
    </tbody>
  </table>

  <br><br>
                                              <!-- para hacer llamda a la routa hay que poner la / en inicio para que puede hacer la llamada -->
  <button class="btn btn-success" type="button" [routerLink]="['/estudiantes/from']">Nuevo Estudiante</button>


